<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <div class="error-container">
        <h1 class="error-messagge">Sorry!!! 😔Page Not Found!</h1>
        <a class="forward-link" href="/">Go home</a>
    </div>

<%- include('includes/end.ejs') %>