<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/buy-me-coffee.css">
    </head>

    <body>
        <article class="container">
            <h1 class="hello">Hello!</h1>
            <p class="my-self">
                My name’s <span class="red">Yosniel</span> and I’m a <span class="light">software developer</span> who
                works
                so <span class="red">hard</span> to give you this service.
                If you want to thank my job to <span class="red">invite me</span> to a coffee.
            </p>
            <div class="form-container">
                <form class="product-form" action="/payment/send" method="POST" enctype="multipart/form-data"
                    id="formData">
                    <input class="buy-input" type="number" name="amount" id="amount" min="1" value="1">
                    <select class="buy-input" name="currency" id="currency">
                        <option value="USD" selected>USD</option>
                        <!-- <option value="UYU">UYU</option> -->
                    </select>
                    <button class="buy-button" type="submit">Send</button>
                </form>
            </div>
            <img class="coffee-img" src="/img/coffee.png" alt="coffee">
        </article>

        <%- include('includes/end.ejs') %>