@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@700&family=Merriweather&family=Monofett&family=Monoton&family=Poppins:wght@100;200;300;400;500;700&family=Righteous&family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
